
@model WebApplication3.Models.SearchValue
@{
    <form class="form" method="post">
        날짜: 시작 @(Html.TextBoxFor(m => m.Start_date, new { @type = "date", @Value = Model.Start_date.ToString("yyyy-MM-dd") }))
         끝 @(Html.TextBoxFor(m => m.End_date, new { @type = "date", @Value = Model.End_date.ToString("yyyy-MM-dd") }))
        @Html.DropDownListFor(m => m.Value, new SelectList(Model.cateList, "Value", "Text"), "분류를 선택하세요",new { @class = "form-control" })
        @*<label>   특징</label> @Html.TextBoxFor(m => m.name)*@

        <button type="submit" asp-action="Search">검색</button>
    </form>
}