@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a class="btn btn-warning" asp-action="GetDB">모든데이터 디비에 저장</a>
    </div>
